:root {
  --body-color: #f8f4f0;
  --title-color: #000201;
  --text-color: rgba(0, 2, 1, 0.6);
  --nav-link-color: rgba(0, 2, 1, 0.4);
}

.dark__theme__mode {
  --body-color: #0c0b05;
  --title-color: #fffcf5;
  --text-color: rgba(255, 252, 245, 0.8);
  --nav-link-color: rgba(255, 252, 245, 0.3);
}

html,
body {
  height: 100%;
  min-width: 320px;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.25px;
  color: var(--text-color);
  background-color: var(--body-color);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 70px 20px 25px 0px;
  }
}
/* ========== Main =========== */
@media screen and (max-width: 767px) {
  .main {
    padding: 25px;
    margin-top: 100px;
  }
}
@media screen and (min-width: 768px) {
  .main {
    margin-left: 380px;
  }
}
@media screen and (max-width: 767px) {
  section {
    margin-bottom: 50px;
  }
  .section__text {
    margin-bottom: 20px;
  }
}
.section__title {
  font-family: "Archivo";
  font-weight: 900;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.8px;
  color: var(--title-color);
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .section__text {
    max-width: 510px;
    margin-bottom: 25px;
  }
}
.header__logo {
  position: relative;
  z-index: 100;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: -0.8px;
  color: var(--title-color);
}

.nav__link {
  font-family: "Archivo";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.08;
  letter-spacing: -0.8px;
  color: var(--nav-link-color);
  cursor: pointer;
}

.nav__link:hover {
  color: var(--title-color);
}

.nav__item:not(:last-child) {
  margin-bottom: 25px;
}

/* ========== Header Mobile Menu ============*/
@media screen and (max-width: 767px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--body-color);
    padding: 25px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  .header__mobile-icons {
    display: flex;
    align-items: center;
  }
  .dark__theme {
    font-family: "Archivo";
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    color: var(--title-color);
    cursor: pointer;
    z-index: 100;
  }
  .dark__theme__icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    fill: var(--title-color);
  }
  .dark__theme__text {
    display: none;
  }
  /* ==================== Start Mobile Btn From Codopen ==================== */
  .header__mobile-menu-btn {
    position: relative;
    z-index: 1000;
    background-color: transparent;
  }
  .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: var(--title-color);
    stroke-width: 5.5;
    stroke-linecap: round;
  }
  .ham1 .top {
    stroke-dasharray: 40 139;
  }
  .ham1 .bottom {
    stroke-dasharray: 40 180;
  }
  .ham1.active .top {
    stroke-dashoffset: -98px;
  }
  .ham1.active .bottom {
    stroke-dashoffset: -138px;
  }
  /* ==================== End Mobile Btn From Codopen ==================== */
  .header__mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--body-color);
    padding: 100px 25px 25px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(100%);
  }
  .header__mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__mobile-menu-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 25px;
    border: none;
    background-color: transparent;
  }
  .social-icons-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .social-icons__item:not(:last-child) {
    margin-right: 10px;
  }
  .social-icon {
    width: 40px;
    height: 40px;
    fill: var(--title-color);
  }
}
/* ========== Desktop Header Menu ============*/
@media screen and (min-width: 768px) {
  .header {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 25px;
    padding-left: 25px;
  }
  .dark__theme {
    display: flex;
    align-items: center;
    position: absolute;
    left: 25px;
    bottom: 25px;
    width: 200px;
    font-family: "Archivo";
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    color: var(--title-color);
    cursor: pointer;
  }
  .dark__theme__icon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
    fill: var(--title-color);
  }
  .header__mobile-menu-btn {
    display: none;
  }
  .header__nav {
    margin-top: 90px;
  }
  .social-icons-list {
    display: none;
  }
}
.section__title--colored {
  font-weight: 700;
  line-height: 1.55;
  color: #d3902a;
  margin-bottom: 20px;
}

.section__text--bold {
  color: var(--title-color);
}

/* Swiper */
.swiper-custom {
  position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: -45px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 30px;
  color: var(--title-color);
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  right: 40px;
  left: auto;
}

@media screen and (max-width: 767px) {
  .swiper-button-next,
  .swiper-button-prev {
    top: 15px;
  }
  .swiper-wrapper__list {
    margin-top: 50px;
  }
}
/* ========= Works =========== */
.works__filter {
  margin-bottom: 25px;
}

.filter-works {
  display: flex;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
  row-gap: 5px;
  flex-wrap: wrap;
}

.filter-works__item {
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-color);
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: all 0.3s;
}

.filter-works__item:hover,
.filter-works__item.active {
  color: var(--title-color);
}

.works__items {
  transition: all 0.3s;
}

.works__item {
  width: 100%;
}

.works__item:not(:last-child) {
  margin-bottom: 30px;
}

.work__image {
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.work__image:hover img {
  transform: scale(1.03);
}

.work__body {
  display: grid;
  gap: 5px;
}

.work__link-title {
  font-size: 18px;
}

.work__link-title:hover {
  text-decoration: underline;
}

.work__text {
  font-size: 16px;
  line-height: 1.25;
}

@media screen and (min-width: 768px) {
  .works__item {
    width: 328px;
  }
}
/* Resume Section */
.job-thumb {
  display: flex;
  align-items: baseline;
  margin-bottom: 25px;
}

.job-date {
  width: 150px;
  margin-right: 45px;
  font-weight: 600;
  line-height: 1.3;
  color: var(--title-color);
}

.job-title {
  font-weight: 600;
  line-height: 20px;
  color: var(--title-color);
  margin-bottom: 4px;
}

.job-company {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.28;
  margin-bottom: 10px;
}

.resp-list {
  list-style: square;
}

.resp-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.57;
  margin-left: 20px;
}

/* =========== Contact =============== */
.modal__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.modal__input__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.27;
  color: var(--title-color);
}

.modal__input::-moz-placeholder {
  font-size: 18px;
  line-height: 1.27;
  color: #9d9690;
}

.modal__input::placeholder {
  font-size: 18px;
  line-height: 1.27;
  color: #9d9690;
}

.modal__button {
  padding: 16px 60px;
  width: 164px;
  height: 55px;
  background-color: var(--title-color);
  font-size: 18px;
  line-height: 1.27;
  color: var(--body-color);
}

@media screen and (max-width: 767px) {
  .modal__input {
    width: 100%;
    padding: 16px;
    margin-bottom: 5px;
    background: #f1ece6;
  }
}
@media screen and (min-width: 768px) {
  .modal__input {
    width: 579px;
    padding: 16px;
    margin-bottom: 5px;
    background: #f1ece6;
    cursor: pointer;
  }
}/*# sourceMappingURL=main.css.map */