*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 320px;
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: -0.25px;
    color: rgba(0, 2, 1, 0.6);
    background-color: #F8F4F0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

[class*="__container"] {
    /* max-width: 1025px; */
    padding: 70px 20px 25px 0px;
}

/* ============= Header =============== */
.header {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 25px;
}

.header__menu {
    padding-left: 25px;
}

.header__logo {
    font-family: 'Archivo';
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.8px;
    color: #000201;
}

.header__nav {
    margin-top: 90px;
}

.nav__item:not(:last-child) {
    margin-bottom: 25px;
}

.nav__link {
    font-family: 'Archivo';
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.8px;
    color: rgba(0, 2, 1, 0.4);
}

.nav__link:hover {
    color: #000201;
}

.dark__theme {
    display: flex;
    align-items: center;
    position: absolute;
    left: 25px;
    bottom: 25px;
    width: 200px;

    font-family: 'Archivo';
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    color: #000201;
}

.dark__theme__img {
    margin-right: 15px;
}


/* ========== Main =========== */
.main {
    margin-left: 380px;
}

/* ========= Section About =========== */
.section__about__title {
    font-family: 'Archivo';
    font-weight: 900;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.8px;
    color: #000201;
    margin-bottom: 8px;
}

.section__about__title--colored {
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
    /* identical to box height */
    color: #D3902A;
    margin-bottom: 20px;
}

.section__about__text {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    
    letter-spacing: -0.25px;
    
    color: rgba(0, 2, 1, 0.6);
    margin-bottom: 25px;
    max-width: 510px;
}

/* Swiper */
.swiper-custom {
    position: relative;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: -45px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 30px;
    color: #000201;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    right: 40px;
    left: auto;
}

.swiper-slide img {
    /* max-width: 100%; */
    width: 470px;
    height: 320px;
}

/* ========= Works =========== */
.works__title {
    font-family: 'Archivo';
    font-weight: 900;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.8px;   
    color: #000201;
    margin-bottom: 12px;
}

.works__text {
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.25px; 
    color: rgba(0, 2, 1, 0.6);
    margin-bottom: 27px;
}

.works__filter {
    margin-bottom: 25px;
}

.filter-works {
    display: flex;
    align-items: center;
    column-gap: 25px;
    row-gap: 5px;
    flex-wrap: wrap;
}

.filter-works__item {
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.25px;
    color: rgba(0, 2, 1, 0.6);
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: all 0.3s;
}

.filter-works__item:hover,
.filter-works__item.active {
    color: #000201;
}

.works__items {
    transition: all 0.3s;
}

.works__item {
    width: 350px;
}

.works__item:not(:last-child) {
    margin-bottom: 20px;
}

.work__image {
    display: block;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}

.work__image:hover img {
    transform: scale(1.03);
}

.work__image img.init {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: transform 0.3s;
}

.work__body {
    display: grid;
    gap: 5px;
}

.work__link-title {
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.25px;
    color: rgba(0, 2, 1, 0.6);
}

.work__link-title:hover {
    text-decoration: underline;
}

.work__text {
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.25px;
    color: rgba(0, 2, 1, 0.6);
}


/* Resume Section */
.resume-section {}

.resume__container {}

.section__about__title {}

.section__about__text {}

.job-thumb {
    display: flex;
    align-items: baseline;
    margin-bottom: 25px;
}

.job-date {
    width: 150px;
    margin-right: 45px;

    font-family: 'Space Grotesk';
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    color: #000201;
}

.job-title {
    font-family: 'Space Grotesk';
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.25px;
    color: #000201;
    margin-bottom: 4px;
}

.job-company {
    font-family: 'Space Grotesk';
    font-weight: 500;
    font-size: 18px;
    line-height: 1.28;
    letter-spacing: -0.25px;   
    color: rgba(0, 2, 1, 0.6);
    margin-bottom: 10px;
}

.resp-list {
    list-style: square;
}

.resp-item {
    font-family: 'Space Grotesk';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.57;
    letter-spacing: -0.25px;
    color: rgba(0, 2, 1, 0.6);
    margin-left: 20px;
}