:root {
  --body-color: #f8f4f0;
  --title-color: #000201;
  --text-color: rgba(0, 2, 1, 0.6);
  --nav-link-color: rgba(0, 2, 1, 0.4);
}

.dark__theme__mode {
  --body-color: #0c0b05;
  --title-color: #fffcf5;
  --text-color: rgba(255, 252, 245, 0.8);
  --nav-link-color: rgba(255, 252, 245, 0.3);
}
